$spacing: 15px;

.u-margin-top-1 {
  margin-top: $spacing;
}
.u-margin-bottom-1 {
  margin-bottom: $spacing;
}
.u-margin-left-1 {
  margin-left: $spacing;
}
.u-margin-right-1 {
  margin-right: $spacing;
}
.u-margin-top-2 {
  margin-top: $spacing * 2;
}
.u-margin-bottom-2 {
  margin-bottom: $spacing * 2;
}
.u-margin-left-2 {
  margin-left: $spacing * 2;
}
.u-margin-right-2 {
  margin-right: $spacing * 2;
}
.u-margin-top-3 {
  margin-top: $spacing * 3;
}
.u-margin-bottom-3 {
  margin-bottom: $spacing * 3;
}
.u-margin-left-3 {
  margin-left: $spacing * 3;
}
.u-margin-right-3 {
  margin-right: $spacing * 3;
}
.u-margin-top-4 {
  margin-top: $spacing * 4;
}
.u-margin-bottom-4 {
  margin-bottom: $spacing * 4;
}
.u-margin-left-4 {
  margin-left: $spacing * 4;
}
.u-margin-right-4 {
  margin-right: $spacing * 4;
}
